/*
 * Copyright (c) 2026 Arne Wendt (@bitmeal)
 * SPDX-License-Identifier: MPL-2.0
 */

 / {
    chosen {
        /delete-property/ zephyr,code-partition;
        zephyr,code-partition = &slot0_partition;
    };
};

// Include flash partition table.
#include "fstab.dtsi"
