/*
 * Copyright (c) 2025 Arne Wendt (@bitmeal)
 * SPDX-License-Identifier: MPL-2.0
 */

/ {
	spi_master: spibb0 {
		compatible = "zephyr,spi-bitbang";
		status = "okay";
		
		#address-cells = <1>;
		#size-cells = <0>;
	
		clk-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
		miso-gpios = <&gpio0 15 0>;

		// interrupt pin
		cs-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
	};
};

/ {
    chosen {
        /* Directs Zephyr to link your application text section to the primary slot */
        zephyr,code-partition = &slot0_app_partition;
    };
};

&flash0 {
    /delete-node/ partitions;
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* 0x00000 to 0x06000: MCUboot Bootloader (24 KB) */
        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0x00006000>;
        };

        /* 0x06000 to 0x42000: Primary Slot (240 KB total) */
        slot0_partition: partition@6000 {
            label = "image-0";
            reg = <0x00006000 0x0003c000>;
        };
		
		
        /* 0x06400 to 0x42000: Primary Slot App  */
		slot0_app_partition: partition@6400 {
            label = "image-0-app";
            reg = <0x00006400 0x0003bc00>;
        };

        /* 0x42000 to 0x7E000: Secondary Upgrade Slot (240 KB total) */
        slot1_partition: partition@42000 {
            label = "image-1";
            reg = <0x00042000 0x0003c000>;
        };

        /* 0x7E000 to 0x80000: Zephyr Settings Subsystem Storage (8 KB) */
        storage_partition: partition@7e000 {
            label = "storage";
            reg = <0x0007e000 0x00020000>;
        };
    };
};