#
# Copyright 2022 by Garmin Ltd. or its subsidiaries.
# All rights reserved.
#
# Use of this Software is limited and subject to the License Agreement for ANT SoftDevice
# and Associated Software. The Agreement accompanies the Software in the root directory of
# the repository.
#

module = TPMS_PAGES
module-str = ANT+ TPMS Pages
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

