# Copyright (c) 2025 Arne Wendt (@bitmeal)
# SPDX-License-Identifier: MPL-2.0

# SKS AIRSPY configuration

if BOARD_SKS_AIRSPY

# config BT_CTLR
# 	default BT

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

endif # BOARD_SKS_AIRSPY
