# Copyright (c) 2024 Arne Wendt (@bitmeal)
# SPDX-License-Identifier: Apache-2.0

# Bootloader
CONFIG_BOOTLOADER_MCUBOOT=y
# # 512kB flash; two images (each < 256kB); sector size 0x1000 / 4096B
# CONFIG_BOOT_MAX_IMG_SECTORS=64


# Enable MPU
CONFIG_ARM_MPU=y

# Enable console
CONFIG_CONSOLE=y
CONFIG_SERIAL=y

# Enable RTT
CONFIG_USE_SEGGER_RTT=y
CONFIG_UART_RTT=y

# Enable GPIO
CONFIG_GPIO=y

# Enable SPI
CONFIG_SPI=y

# Pinctrl
CONFIG_PINCTRL=y
